<body style="background-color:white">
</body>

<h2 align="center", style="color:#5BBD9A"> Find An Amazing Opportunity Here</h2>

<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default", :style =>"background-color:#008F5D") %>
</div>

<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" style="background-color:#008F5D" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("By Lower to Upper", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("By Upper to Lower", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("By create time", jobs_path ) %>
    </li>
  </ul>
</div>

<div class="panel-body">
  <table class="table table-striped table-list">

  <thead>
    <tr>
      <td>Jobs</td>
      <td>Location</td>
      <td>Min. Salary</td>
      <td>Max. Salary</td>
      <td>Created at</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title, job_path(job)) %>
      </td>
      <td>
        <%= job.job_location %>
      </td>
      <td>
        <%= job.wage_lower_bound %>
      </td>
      <td>
        <%= job.wage_upper_bound %>
      </td>
      <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<div class="text-center">
  <%= will_paginate @jobs %>
</div>
