<h1> Add a job </h1>
<%= simple_form_for @job do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :job_location, :label => "Location" %>
<%= f.input :wage_lower_bound, :label => "Min. Salary" %>
<%= f.input :wage_upper_bound, :label => "Max. Salary" %>
<%= f.input :contact_email %>
<%= f.input :is_hidden %>
<%= f.submit "Submit" %>
<% end %>
