<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-success active" ) %>
</div>

<br><br>

<a href="/jobs", class="text-success">Job Listing</a>

<div class="panel-body">
  <table class="table table-striped table-list">
  <thead>
    <tr>
      <td>Jobs</td>
      <td>Resume Q'ty</td>
      <td>Location</td>
      <td>Min. Salary</td>
      <td>Max. Salary</td>
      <td>Create at</td>
      <td>Manage</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= render_job_status(job) %>
        <%= link_to(job.title, admin_job_path(job), :class => "text-success") %>
      </td>
      <td>
        <%= link_to(job.resumes.count, admin_job_resumes_path(job), :class => "text-success") %> </td>
        <td>
          <%= job.job_location %>
        </td>
      <td>
        <%= job.wage_lower_bound %>
      </td>
      <td>
        <%= job.wage_upper_bound %>
      </td>
      <td>
      <%= job.created_at %>
    </td>

    <td>
      <%= link_to("Edit", edit_admin_job_path(job), class: "fa fa-edit fa") %>
      <%= link_to("Destroy", admin_job_path(job), class: "fa fa-trash-o fa", :method => :delete, :data => { :confirm => "Are you sure?" }) %>

<% if job.is_hidden %>
<%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-warning") %>
<% else %>
<%= link_to("Hide", hide_admin_job_path(job), :method => :post, :class => "ben btn-xs btn-success") %>
<% end %>

    </td>

  </tr>
  <% end %>
</tbody>
</table>
